:root {
	/* --dark-navy: hsl(216, 86%, 6%); */
	--bg-main: hsl(216, 65%, 11%);
	/* --light-navy: hsl(218, 58%, 16%);
	--lightest-navy: hsl(218, 41%, 23%); */
	--text: hsl(225, 20%, 61%);
	/* --light-slate: hsl(225, 31%, 74%); */
	--h1-text: hsl(226, 70%, 88%);
	/* --white: hsl(214, 100%, 95%); */
	--contrast-color: hsl(166, 100%, 70%);
	--contrast-color-transparent: hsla(166, 100%, 70%, 0.3);
}

:root([class='dark']) {
	--bg-main: hsl(216, 65%, 11%);
	--h1-text: hsl(226, 70%, 88%);
	--text: hsl(225, 20%, 61%);
	--contrast-color: hsl(166, 100%, 70%);
}

:root:not([class='dark']) {
	--bg-main: hsl(226, 70%, 88%);
	--h1-text: hsl(226, 70%, 88%);
	--text: hsl(225, 20%, 61%);
	--contrast-color: hsl(166, 100%, 70%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;

	font-size: 16px;
}

html {
	transition: 0.5s;
	background-color: var(--bg-main);
	color: var(--text);
	scroll-behavior: smooth;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	min-height: 100dvh;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	counter-reset: section;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
button {
	font-family: 'Source Code Pro', monospace;
	color: var(--text);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	white-space: pre;
	background-color: inherit;
	border: none;
}

section {
	padding: 4rem 0;
	max-width: 1000px;
	width: 100%;
	min-height: 100dvh;
}

section .numbered-heading {
	display: flex;
	align-items: center;
	position: relative;
	padding: 2rem 0;
	width: 100%;
	white-space: nowrap;

	&::before {
		content: '0' counter(section) '.';
		counter-increment: section 1;
		color: var(--contrast-color);
		font-size: 1.2rem;
		margin-right: 1rem;
	}

	&::after {
		content: '';
		display: block;
		position: relative;
		top: -5px;
		width: 40%;
		height: 1px;
		margin-left: 1.2rem;
		background: var(--contrast-color);
	}
}

li {
	list-style: none;

	&::before {
		content: '▹';
		color: var(--contrast-color);
		margin-right: 1.175rem;
	}
}

a {
	color: var(--contrast-color);
	text-decoration: none;
}

span {
	color: var(--contrast-color);
}

h1 {
	color: var(--h1-text);
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
}

h2 {
	color: var(--contrast-color);
	font-weight: 400;
	font-size: clamp(1.5rem, 2vw, 3rem);
	font-family: 'Source Code Pro', monospace;
}

h3 {
	color: var(--text);
}

button {
	border-color: var(--contrast-color);
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 75ch;
	margin: 0;
}

input {
}
